<div class='filter-bar text-center mb-3'>
    <a href='/courses' class='filter-bar-btn btn btn-outline-secondary'>Tất cả</a>
    <a href='/courses?category=programming' class='filter-bar-btn btn btn-outline-secondary'>Lập trình</a>
    <a href='/courses?category=marketing' class='filter-bar-btn btn btn-outline-secondary'>Marketing</a>
    <a href='/courses?category=design' class='filter-bar-btn btn btn-outline-secondary'>Thiết kế</a>
    <a href='/courses?category=design' class='filter-bar-btn btn btn-outline-secondary'>Đồ họa</a>
    <a href='/courses?category=design' class='filter-bar-btn btn btn-outline-secondary'>Khác</a>
</div>
