<div class='search-bar text-center mb-4'>
    <form class="search-bar-form" action='/search' method='GET'>
        <input
            type='text'
            name='query'
            class='form-control d-inline-block search-bar-input'
            placeholder='Tìm kiếm khóa học...'
            style='max-width: 400px;'
        />
        <button type='submit' class='btn btn-primary search-bar-btn'>Tìm kiếm</button>
    </form>
</div>
